<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Medicine in Motion, Find Your Dose</title>
  </head>
  <body>
    <img src="hero.png" class="hero"></img>
    <script src='https://medicineinmotion.freshsales.io/web_forms/da5d85ce6381006c5884605199950ea9a2fe28a2d018bcf935b62d66e7b36ae3/form.js' crossorigin='anonymous' id='fs_da5d85ce6381006c5884605199950ea9a2fe28a2d018bcf935b62d66e7b36ae3'></script>
  </body>
</html>